@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

canvas {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  display: block;
}

body {
  background: transparent;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
